:root {
  /* FONT */
  --font: 'Montserrat', sans-serif;

  /* COLORS */
  --color: #f24405;
  --bg_color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg_color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
